.blog-details {
    min-height: 351px;
    background: url(@/assets/img/blog_details.jpg);
    @include backgroundCenterCover;
}
.main {
    padding: 104px 0 96px;
    &__container {
        max-width: 1201px;
        width: 100%;
        @include flexSpaceBetween;
        align-items: flex-start;
    }
}
.design {
    &__title {
        max-width: 684px;
        width: 100%;
        min-height: 126px;
        margin: 0 0 11px 0;
        @extend %main-title;
        text-align: start;
    }
    &__wrp, &__img {
        max-width: 799px;
        width: 100%;
        max-height: 539px;
        margin: 0 0 46px 0;
        border-radius: 50px;
    }
    &__date {
        max-width: 804px;
        width: 100%;
        min-height: 24px;
        @include flexSpaceBetween;
        margin: 0 0 48px 0;
    }
    &__date-txt {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.16px;
        text-transform: capitalize;
    }
    &__info {
        margin: 0 0 35px 0;
    }
    &__txt {
        max-width: 799px;
        width: 100%;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
    }
    &__txt:first-child {
        margin: 0 0 45px 0;
    }
    &__details {
        max-width: 799px;
        width: 100%;
        padding: 53px 224px;
        border-radius: 50px;
        background: #F4F0EC;
        margin: 0 0 27px 0;
    }
    &__details-wrp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__details-img {
        width: 106px;
        height: 113px;
        background: url(@/assets/img/icon.png);
        @include backgroundCenterContain;

    }
    &__details-txt {
        max-width: 351px;
        width: 100%;
        color: #CDA274;
        text-align: center;
        font-family: DM Serif Display;
        font-size: 25px;
        font-style: italic;
        line-height: 31.25px;
        letter-spacing: 0.5px;
    }
    &__sprint-title {
        max-width: 560px;
        width: 100%;
        @extend %main-title;
        text-align: start;
        margin: 0 0 20px 0;
    }
    &__sprint-txt {
        max-width: 799px;
        width: 100%;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;   
    }
    &__sprint-txt:not(:last-child) {
        margin: 0 0 24px 0;
    }
    &__sprint-list {
        padding: 0 0 12px 0;
    }
    &__sprint-item {
        max-width: 732px;
        width: 100%;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        margin: 0 0 32px 0;
        padding-left: 19px;
        position: relative;
    }
    &__sprint-item::before {
        position: absolute;
        width: 8px;
        height: 25px;
        color: #CDA274;
        font-family: DM Serif Display;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.4px;
        top: 0;
        left: 0;
    }
    &__sprint-item:first-child::before {
        content: '1';
    }
    &__sprint-item:nth-child(2)::before {
        content: '2';
    }
    &__sprint-item:last-child::before {
        content: '3';
    }
    &__sprint-img, &__sprint-wrp {
        max-width: 799px;
        width: 100%;
        max-height: 365px;
        margin: 0 0 35px 0;
        border-radius: 50px;
    }
}
.tags {
    max-width: 345px;
    width: 100%;
    &__title {
        color: #292F36;
        font-family: DM Serif Display;
        font-size: 25px;
        line-height: 31.25px;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin: 0 0 24px 0;
    }
    &__btn {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }
    &__btn-wrp{
        display: flex;
        gap: 10px;
    }
    &__button {
        border-radius: 10px;
        background: #F4F0EC;
        padding: 9px 30px;
        font-size: 18px;
        line-height: 22.5px;
        letter-spacing: 0.36px;
    }
}